*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Figtree', sans-serif;
    height: 100vh;
    color: var(--white);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(assets/images/pomodoro-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*Variable Colors*/

:root {
    --bg-blue: #F5FBFF;
    --white: #fff;
    --navy: #292B51;
    --black: #000;
}

/*General Styles*/

.flex {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--white);
}

ul {
    list-style: none;
    display: flex;
}

.hidden {
    display: none;
}

/*Navigation Bar*/

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    font-size: 1.4rem;
    padding: 2rem 0;
}

.logo {
    display: flex;
    font-size: 1.5rem;
    gap: 0.5rem;
}

.header-wrapper ul {
    gap: 2rem;
    display: flex;
}

.header-wrapper button {
    font-size: 1.4rem;
    background: transparent;
    cursor: pointer;
}

.header-wrapper a, .header-wrapper button {
    color: var(--white);
    border: 1px solid var(--white);
    padding: 0.3rem 1rem;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.header-wrapper a:hover, .header-wrapper button:hover, .header-wrapper a:focus, .active {
    background-color: rgba(255, 255, 255, 0.2);
}